// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.text-right {
    text-align: right !important;
}

.font-weight-bold {
    font-weight: bolder;
}

.mr-2 {
    margin-right: .5rem;
}
